body {
    overflow-x: hidden;
}


.sec {
    height: 100vh;
}

.inner {
    width: 1400px;
    margin: 0 auto;
}

.inner h3 {
    transform: translate(0, 100px);
    opacity: 0;

}

.inner.on h3 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.inner p {
    transform: translate(0, 100px);
    opacity: 0;

}

.inner.on p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}


.inner figure {
    transform: translate(0, 100px);
    opacity: 0;

}

.inner.on figure {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;
}

#h_scroll {
    display: flex;
    flex-wrap: nowrap;
    /* overscroll-behavior: none; */
    width: 100%;
}

.page {
    /* width: 100%; */
    /* flex: 0 0 100%; 와는 다름... 여기서 실수 */
    flex: 0 0 100%;

    display: flex;
    align-items: center;
}

.page h3 {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 18px 0;
}

.page:nth-child(odd) {
    background: #f9f9f9;
}

.page:nth-child(even) {
    background: #f1f1f1;
}