.section {
    height: 100vh;
    background: url(../images/p01.png);
}

.section:nth-child(odd) {
    background: #f9f9f9 url(../images/p01.png);
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}


#intro {
    display: flex;
    align-items: center;
}

#intro h2 {
    transform: skewX(-15deg) rotate(45deg);
    width: 450px;
    margin: 0 auto 100px auto;
    box-shadow: -95px 179px 5px 53px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -95px 179px 5px 53px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -95px 179px 5px 53px rgba(0, 0, 0, 0.05);
}

#intro h2 span {
    display: inline-block;
    width: 150px;
    font-size: 150px;
    font-weight: 900;
    text-align: center;
}

#intro h2 span:nth-child(odd) {
    background: #333;
    color: #fff;
}

#profile {
    display: flex;
    align-items: center;
}




#profile .R_txt {
    width: 400px;
    height: 400px;

}

#profile .R_txt span {}

#profile .case {
    position: relative;
    width: 400px;
    height: 400px;
}

#profile .case>* {
    position: absolute;
    top: 0;
    left: 0;
}

#profile .img_box {
    border-radius: 50%;
    overflow: hidden;
    border: 30px solid #fff;
}


.logo {
    position: fixed;
    top: 80px;
    left: 80px;
    z-index: 999;
}

.footer {
    position: fixed;
    bottom: 80px;
    left: 80px;
    z-index: 999;
}

.gnb {
    position: fixed;
    top: 50%;
    right: 80px;
    transform: translate(0, -50%);
    z-index: 999;
}